.menu2 {
	margin: 0;
	padding-top: 15px;
	display: block;
	width: 100%;
	background-color: #fff;
    box-shadow: 0 1px 7px 2px rgba(0, 0, 0, .33);
	height: 60px;
	z-index: 102;
}

nav {
	text-align: center;
}

nav ul li {
	margin-right: 30px;
	display: inline;
	list-style-type: none;
}

nav a {
	text-decoration: none;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	color: #333;
	text-transform: none;
	font-size: .80em;

	letter-spacing: .03em;
}