
<footer class="footer">
    <div class="w-container">
      <div class="footerrow w-row">
        <div class="w-col w-col-4">
          <div class="smallheader">SAHAYA VIETNAM</div>
          <p class="paragraph-5">Our goal is to empower the families with education, vocational training, and skills to achieve a sustainable living.</p>
        </div>
        <div class="w-col w-col-3">
          <div class="smallheader">Useful links</div><a href="#" class="footerlink">Where your donations Go</a><a href="#" class="footerlink">Membership</a><a href="#" class="footerlink">Sahaya International</a></div>
        <div class="w-col w-col-5">
          <div class="smallheader">SOCIAL MEDIA</div>
          <div class="socialmediadiv">
            <div class="twitter w-widget w-widget-twitter"><iframe src="https://platform.twitter.com/widgets/tweet_button.html#url=http%3A%2F%2Fwebflow.com&amp;counturl=webflow.com&amp;text=Check%20out%20this%20site&amp;count=horizontal&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 62px; height: 21px;"></iframe>
              <div class="w-widget-twitter-count-shim">
                <div class="w-widget-twitter-count-inner">...</div>
              </div>
            </div>
          </div>
          <div class="socialmediadiv">
            <div class="fb w-widget w-widget-facebook"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fwebflow&amp;layout=button_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 225px; height: 35px;"></iframe></div>
          </div>
        </div>
      </div>
      <div>
        <div class="copyright">
          <div class="text-block-4">COPYRIGHT 2018. ALL RIGHTS RESERVED. SAHAYA VIETNAM IS A NON-PROFIT ORGANIZATION.</div>
        </div>
      </div>
    </div>
  </footer>