<header>
<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out-expo" data-easing2="ease-in-out-back" class="sahayanavbar w-nav">
    <div class="w-container"><a href="{{site.baseurl}}/index.html" class="sahaya_logo w-nav-brand"><img src="images/sahaya_vietnam_text_logo.png" width="180" srcset="images/sahaya_vietnam_text_logo-p-500.png 500w, images/sahaya_vietnam_text_logo.png 583w" sizes="180px"></a>
      <nav role="navigation" class="navmenu w-nav-menu">
        <div data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div><a href="{{site.baseurl}}/about.html">About</a></div>
          </div>
          <nav class="dropdownlist w-dropdown-list"><a href="{{site.baseurl}}/mission.html" class="dropdownlink w-dropdown-link">Mission</a><a href="#" class="dropdownlink w-dropdown-link">Housing</a><a href="#" class="dropdownlink w-dropdown-link">Bicycle</a><a href="#" class="dropdownlink w-dropdown-link">Education</a></nav>
        </div><a href="#" class="navlink w-nav-link">Events</a>
        <div data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div class="text-block">Reports</div>
          </div>
          <nav class="dropdownlist w-dropdown-list"><a href="#" class="dropdownlink w-dropdown-link">Annual Reports</a><a href="#" class="dropdownlink w-dropdown-link">Statistics</a></nav>
        </div>
        <div data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Media</div>
          </div>
          <nav class="dropdownlist w-dropdown-list"><a href="#" class="dropdownlink w-dropdown-link">Gallery</a><a href="#" class="dropdownlink w-dropdown-link">Videos</a><a href="#" class="dropdownlink w-dropdown-link">Media Kits</a></nav>
        </div>
        <div data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Supporters</div>
          </div>
          <nav class="dropdownlist w-dropdown-list"><a href="#" class="dropdownlink w-dropdown-link">Donors</a><a href="#" class="dropdownlink w-dropdown-link">Members</a></nav>
        </div><a href="#" class="navlink w-nav-link">Blog</a>
        <div data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Donate</div>
          </div>
          <nav class="dropdownlist w-dropdown-list"><a href="#" class="dropdownlink w-dropdown-link">Volunteer</a></nav>
        </div><a href="#" class="navlink w-nav-link">Contact</a></nav>
      <div class="menubutton w-nav-button">
        <div class="menuicon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div>
  </div>
</header>