<div data-delay="4000" data-animation="slide" data-autoplay="1" data-autoplay-limit="4" data-duration="500" data-infinite="1" class="slider-2 w-slider">
      <div class="w-slider-mask">
        <div class="slider w-slide">
          <div class="herocontainer w-container">
            <h1 class="heroheader">Sahaya</h1>
            <p class="paragraph herodescription">&quot;Sahaya&quot; translates to &#x27;helper&#x27; or friend</p><a href="#" class="herodonatebtn w-button">DONATE</a></div>
        </div>
        <div class="slide2 slide w-slide">
          <div class="herocontainer w-container">
            <h1 class="heroheader">Kien Giang</h1>
            <p class="paragraph herodescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p><a href="#" class="herodonatebtn w-button">DONATE</a></div>
        </div>
        <div class="w-slide"></div>
      </div>
      <div class="leftarrow w-slider-arrow-left">
        <div class="leftsliderarrow w-icon-slider-left"></div>
      </div>
      <div class="rightarrow w-slider-arrow-right">
        <div class="rightsliderarrow w-icon-slider-right"></div>
      </div>
      <div class="slidernav w-slider-nav w-round"></div>
    </div>
  </div>