<div class="projectsection">
    <div class="ourprojectscontainer w-container">
      <h2 class="heading">Our Projects</h2>
      <div class="breaker"></div>
      <p class="ourprojectssmalltext">Our overal aim is to provide shelter, basic necessities and education to the impoverished rural communities of Kien Giang, Vietnam with the collaboration of Chua Buu Son Monastery.</p>
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="div-block projects">
            <div class="iconcircle">
              <div>Housing</div>
            </div>
            <p class="paragraph-3 icontext">The basic housing unit costs $1,000. This covers house construction plus bedding, cooking supplies, water jars and food for a single family. <br>Recently, we have decided to built stronger homes with brick walls that would last longer. The price for such home is approximately $2500.</p>
            <a href="#" class="learnmoretextlink w-inline-block">
              <div class="text-block-3">Learn more</div>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="div-block projects">
            <div class="iconcircle">
              <div>Bicycle</div>
            </div>
            <p class="paragraph-3 icontext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
            <a href="#" class="learnmoretextlink w-inline-block">
              <div class="text-block-3">Learn more</div>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="div-block projects">
            <div class="iconcircle">
              <div>Education</div>
            </div>
            <p class="paragraph-3 icontext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
            <a href="#" class="learnmoretextlink w-inline-block">
              <div class="text-block-3">Learn more</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>